
<div ng-app='ratonAdminApp'>

    <div ng-controller="adminMainCtrl as main">

        Return: <pre>{{ main.ret }}</pre>

        Errore: <pre style="color:darkred">{{ main.error }}</pre>

        <hr>

        Query: <input ng-model="main.query"/>

        <hr>

        <hr>

        <textarea rows="10" cols="50" ng-model = "main.itemBodyJson"></textarea> <br>

        <button ng-click="main.search()">GET</button>
        <button ng-click="main.delete()">DELETE</button>
        <button ng-click="main.create()">CREATE</button>
        <button ng-click="main.update()">UPDATE</button>

        <hr>
    </div>

</div>