html, body, h1, h2, h3, h4, h5, input, button { -webkit-font-smoothing:antialiased !important; -moz-osx-font-smoothing: grayscale !important; -webkit-text-size-adjust:100%; font-family:'Open Sans',helvetica,verdana,arial,sans-serif; text-transform:none; }

body { background:#000; color:#222; margin:0; padding:0; font-size: 13px;}

.wrapper-background2015 { background:#ebebe8; }

.sidebar2015 {padding-right:10px; padding-left:10px; font-size:13px; float:left; width:300px; background:#f5f5f2; }

.corpo-centrale2015 { overflow:auto; }

.wrapper { width:100%; max-width:1280px; padding-top:10px; margin:0 auto; background:transparent; overflow: auto; }

i.fa { font-size:14px; }

.insertion-title { float:left; width:950px; min-height:18px; line-height:18px; background:#333; color:#fff; border-bottom:3px solid #f80; margin:10px 10px 0; padding:6px 0 6px 10px; }

.insertion-title h1 { display:inline-block; font-size:13px; line-height:18px; margin:0; padding:0; color:#fff; text-transform:none; }

.cat-title { width:280px; height:30px; margin-top:10px; line-height:30px; color:#fff; background:#333; border-bottom:3px solid #f80; }

.cat-list { float:left;}

.cat-icon { float:left;  clear:left; width:30px; text-align:center; }

.cat-icon i { }

.cat-name { min-height:30px; width:250px; line-height:30px; }

.cat-name h3 { display:inline-block; }

.new-insertion2015 { width:280px; font-weight: 700; height:30px; margin-top: 10px; color:#fff; line-height:30px; text-align:center; background:#090; }
.new-insertion2015:hover { cursor:pointer; background:#080; }

.new-insertion2015.disabled { color: #ADABAB;  background: #D8D8D8; }
.new-insertion2015.disabled:hover { cursor:pointer; background: #D0D0D0; }

.add-new2015 { float:left; width:950px; margin:10px; }
.add-new-wrapper2015 { float:left; width:100%; background:#fff; padding:20px 0 0; }
.add-new-row2015 { float:left; width:940px; height:30px; margin:0 10px 10px; }
.add-new-label2015 { float:left; height:30px; width:320px; line-height:15px; }
.add-new-input2015 { float:left; height:30px; width:620px; }
.add-new-input2015 input,select { height:30px; line-height:30px; width:600px; padding:0 10px; font-size:13px; background: #f7f7f4;}
.add-new-row-tall2015 { float:left; width:940px; margin:0 10px 10px; }
.add-new-textarea2015 { float:left; width:620px; }
.add-new-textarea2015 textarea { width:600px; background: #f7f7f4;}
.add-new-row-submit2015 { float:left; width:940px; min-height:30px; margin:10px 10px; text-align:center; }
.add-new-row-submit2015 input { width:210px; height:30px; font-size:13px; line-height:30px; color:#fff; margin-bottom:10px; background:#090; padding: 0px 10px; text-transform: inherit}
.add-new-row-submit2015 input:hover { cursor:pointer; background:#080; }

.add-new-row-submit2015 input.disabled { color: #ADABAB;  background: #D8D8D8; }
.add-new-row-submit2015 input.disabled:hover { cursor:pointer; background: #D0D0D0; }

.small2015 { font-size:11px; color:#999; }

.cat-item.selected {
    background: #e5e5e2;
    border: 1px solid #949491;
}

.cat-item {
    cursor: pointer;
    padding: 6px 0px;
}

.cat-item:hover {
    text-decoration:underline;
}

.base-content {
    float: left;
    width: 960px;
    margin: 10px 10px 0;
    background: #f5f5f2;
    text-align: center;
}

@media (max-width: 1279px) {

    .wrapper {
        width: 1024px;
    }

}


@media (max-width: 1023px) {

    .wrapper {
        width: 768px;
    }

    .sidebar2015 { display:none; }
}

@media (max-width: 767px) {

    .wrapper {
        width: 640px;
    }

    .sidebar2015 { display:none; }
}

@media (max-width: 639px) {

    .wrapper {
        width: 480px;
    }

    .sidebar2015 { display:none; }
}


@media (max-width: 479px) {

    .wrapper {
        width: 320px;
    }

    .sidebar2015 { display:none; }
}