.addCategoryInput {
    font-size: 13px;
    line-height: 13px;
    padding: 2px 2px;
    height: 23px;
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51,0.2) url('../img/spinner.gif') no-repeat center center;
}

.modal {
    margin-top: 100px;
}

.wp-admin select {
    width: 170px;
}

.select-button {
    padding: 3px 3px 3px 4px;
    width: 170px;
    text-align: left;
    height: 30px;
}

.select-button .text {
    float: left;
}

.select-button .caret {
    margin-top: 7px;
    float: right;
}

.main-div {
    margin-right: 10px;
    margin-left: 10px;
}

.detail-panel {
    margin-bottom: 20px;
}

.detail-table {
    border-bottom: 1px solid #337AB7;
}

label.title {
    color: #0073AA;
}

input[type="submit"] {
    margin-left: 10px;
    margin-right: 10px;
}