<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body">
    <form name="categoryForm" role="form">

        <div class="row">
            <div class="col-lg-12">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Campi
                    richiesti</strong></div>

                <div class="form-group">
                    <label for="InputName">Nome</label>

                    <div class="input-group">
                        <input ng-model="data.title" type="text" class="form-control" name="catName" id="InputName"
                               required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputMessage">Descrizione</label>

                    <div>
                        <textarea ng-model="data.description" name="description" id="InputMessage" class="form-control"
                                  rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputMessage">Posizione</label>

                    <div class="input-group">
                        <input ng-disabled="positionDisabled"
                                ng-model="data.position" type="number"
                                min="1" max="{{itemsCount+1}}"
                                class="form-control" name="catName"
                                required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputMessage">Voto massimo</label>

                    <div class="input-group">
                        <uib-rating class="form-control" ng-model="data.vote_limit" max="10"></uib-rating>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="margin-top: 10px">
                <input type="submit" ng-disabled="categoryForm.$invalid"
                       name="submit" id="submit" ng-click="ok()"
                       value="Salva" class="btn btn-info pull-right">

                <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Annulla</button>
            </div>
        </div>

    </form>
</div>