<div class="row">

    <div ng-if="itemViewOpt.fromCategory" class="col-md-12">
        <div class="detail-panel panel panel-default">
            <div class="panel-heading">Categoria selezionata</div>
            <div class="panel-body">

                <span style="margin-right: 20px">
                    <label class="title">Nome:</label>
                    <label class="val">{{ctrl.selectedCat.title}}</label>
                </span>

                <span style="margin-right: 20px">
                    <label class="title">Descrizione:</label>
                    <label class="val">{{ctrl.selectedCat.description}}</label>
                </span>

                <span>
                    <label class="title">Articoli totali:</label>
                    <label class="val">{{ctrl.itemsData.total_count}}</label>
                </span>

                <span style="margin-left: 40px">
                    <input type="button" class="btn btn-default btn-sm" value="Crea articolo"
                           ng-click="ctrl.createItem()">
                </span>
            </div>
        </div>
    </div>

    <div ng-if="!itemViewOpt.fromCategory" class="col-md-12">
        <div class="detail-panel panel panel-default">
            <div class="panel-heading">Ricerca articoli</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-2">
                        <label class="title">Nome:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="input-sm" ng-model="ctrl.filter.title">
                    </div>
                    <div class="col-md-2">
                        <label class="title">Descrizione:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="input-sm" ng-model="ctrl.filter.description">
                    </div>
                </div>

                <div class="row" style="margin-top: 5px">
                    <div class="col-md-2">
                        <label class="title">Stato approvazione:</label>
                    </div>
                    <div class="col-md-2">
                        <bootstrap-select items="ctrl.state_approve_items" val="ctrl.filter.request_approve_type"></bootstrap-select>
                    </div>

                    <div class="col-md-2">
                        <label class="title">Stato abilitazione:</label>
                    </div>

                    <div class="col-md-2">
                        <bootstrap-select items="ctrl.enable_state_items" val="ctrl.filter.approved_type"></bootstrap-select>
                    </div>
                </div>

                <div class="row pull-right" style="margin-right: 300px">
                    <input type="button" class="btn btn-default btn-sm" value="Cerca articoli"
                           ng-disabled="!ctrl.isValidSearch()" ng-click="ctrl.search()">
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="detail-panel panel panel-default">
            <div class="panel-heading">Lista articoli</div>
            <div class="panel-body">

                <div class="row">
                    <table class="detail-table table table-striped">
                        <tr>
                            <th>Articolo</th>
                            <th>Descrizione</th>
                            <th>Data creazione</th>
                            <th width="220px">In richiesta di approvazione</th>
                            <th width="100px">Approvato</th>
                            <th></th>
                        </tr>

                        <tr ng-repeat="item in ctrl.itemsData.items">
                            <td>{{item.title}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.insert_date | date}}</td>

                            <td>
                                <span ng-if="item.request_approve == 'y'"><i class="glyphicon glyphicon-alert" style="color: orange"></i></span>
                                <i class="glyphicon" ng-class="{'glyphicon-check':item.request_approve == 'y', 'glyphicon-unchecked': item.request_approve == 'n'}"></i>
                                <span ng-if="item.request_approve == 'y'">Si</span>
                                <span ng-if="item.request_approve == 'n'">No</span>
                            </td>

                            <td>
                                <i class="glyphicon" ng-class="{'glyphicon-check':item.approved == 'y', 'glyphicon-unchecked': item.approved == 'n'}"></i>
                                <span ng-if="item.approved == 'y'">Si</span>
                                <span ng-if="item.approved == 'n'">No</span>
                            </td>

                            <td>

                                <button title="Modifica" type="button" ng-click="ctrl.onEdit(item)"
                                        class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button title="Elimina" type="button" ng-click="ctrl.onDelete(item)"
                                        ng-disabled="data.children.length > 0" class="btn btn-default btn-xs">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>

                            </td>
                        </tr>

                    </table>
                </div>
                <div class="text-center">
                    <uib-pagination total-items="ctrl.itemsData.total_count"
                                    ng-change="ctrl.pageChanged()"
                                    ng-model="ctrl.itemsData.page" max-size="10"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;"
                                    last-text="&rsaquo;&rsaquo;"
                                    first-text="&lsaquo;&lsaquo;"
                                    class="pagination-sm" boundary-link-numbers="true"
                                    force-ellipses="true" rotate="false"></uib-pagination>
                </div>

            </div>
        </div>
    </div>

</div>