<div class="cat-item-wrapper">
    <div style="{{ getStyle() }}">

        <div class="cat-item" ng-class="{'selected': data.id == categoryListCtrl.selectedId}" ng-click="select()">
            <span ng-if=" data.id != 'ROOT' ">
                <span class="cat-icon">
                    <i class="fa" ng-class="getClass()"></i>
                </span>

                <span class="cat-name-button">
                    <span>{{data.title}}</span>
                </span>
            </span>
        </div>

        <div ng-show="isContentVisible" ng-transclude></div>

    </div>
</div>