<category-list-component>

    <div class="cat-title">
        <span class="cat-icon">
            <i class="fa fa-list-ul"></i>
        </span>
        <span class="cat-name">
            Categorie
        </span>
    </div>

    <div sf-treepeat="node in children of ctrl.mainCtrl.categoryTree">

        <category-component data="node"
                            template="categoryCmp.html"
                            on-select="ctrl.onSelect(data)"
                            collapse-button-class="fa-caret-down"
                            expand-button-class="fa-caret-right">

            <div sf-treecurse>This should be removed</div>

        </category-component>

    </div>

</category-list-component>