<div class="insertion-title">
    <h1>
        <span>Crea nuovo articolo</span>
    </h1>
</div>


<div class="add-new2015">

    <div class="alert alert-dismissible" ng-class="ctrl.message.clazz" ng-if="ctrl.message.visible">
        <span>{{ctrl.message.msg}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ctrl.dismissAlert()"><span aria-hidden="true">&times;</span></button>
    </div>

    <form name="insertArticleForm">
        <div class="add-new-wrapper2015">

            <div class="add-new-row2015">

                <div class="add-new-label2015">

                    Titolo
                    <br><span class="small2015">Breve descrizione dell'oggetto</span>

                </div> <!-- .add-new-label2015 -->

                <div class="add-new-input2015">

                    <input name="title" required ng-model="ctrl.filter.title" class="requiredfield" type="text">

                </div> <!-- .add-new-input2015 -->

            </div> <!-- .add-new-row2015 -->

            <div class="add-new-row2015">

                <div class="add-new-label2015">

                    Categoria
                    <br><span class="small2015">Scegli la categoria</span>

                </div> <!-- .add-new-label2015 -->

                <div class="add-new-input2015">

                    <select name="cat" required ng-model="ctrl.filter.category">
                        <option ng-repeat="option in ctrl.mainCtrl.categories" value="{{option.value}}"> {{option.label}} </option>
                    </select>

                </div> <!-- .add-new-input2015 -->

            </div> <!-- .add-new-row2015 -->

            <div class="add-new-row-tall2015">

                <div class="add-new-label2015">

                    Descrizione
                    <br><span class="small2015">Cerca di essere il più dettagliato possibile</span>

                </div> <!-- .add-new-label2015 -->

                <div class="add-new-input2015">

                    <input name="desc" ng-model="ctrl.filter.description" required class="requiredfield" type="text">

                </div> <!-- .add-new-textarea2015 -->

            </div> <!-- .add-new-row-tall2015 -->

            <div class="add-new-row-submit2015">

                <input ng-class=" {'disabled' : insertArticleForm.$invalid} " type="submit" ng-disabled="insertArticleForm.$invalid"
                       value="Crea nuova inserzione" ng-click="ctrl.addNewInsertion();">

            </div> <!-- .add-new-row-submit2015 -->

        </div>
    </form>
</div>